
<%- include('./partials/header') %><div class="login">
    <form action="/user/login" method="post">
        <div class="row">
            <h2>Login in your account</h2>
        </div>
        <div class="row">
            <input type="text" name="email" id="" placeholder="Email">
        </div>
        <div class="row">
            <input type="password" name="password" placeholder="Password" id="">
        </div>
        <div class="row">
            <input type="submit" value="Login">
        </div>
        <div class="row">
            <p>Not a member? <a href="/user/signup">Register now</a></p>
        </div>
    </form>
</div>



<%- include('./partials/footer') %>